<p id="notice"><%= notice %></p>

<%= link_to 'Back', root_path %> |

<h1>Livres</h1>

<div class="container">
  <div class="raw">
    <% @books.each do |book| %>
      <div class="col-xs-12 col-sm-6">
      <li><%= link_to book.title, book_path(book) %></li>
      <%= book.resume %>
      <%= book.author %>
      <%= book.available %>
      </div>
    <% end %>
  </div>
</div>




