<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @book.resume %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Available:</strong>
  <%= @book.available %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |
<%= link_to 'Emprunter', new_book_reservation_path(@book) %>

      <%= form_tag @book_reservation_path do %>
        <%= hidden_field_tag 'book_id', @book.id %>
        <%= submit_tag 'Emprunter', class: 'btn btn-primary' %>
      <% end %>
        <h2> <%= pluralize @book.reservations.size, "reservation" %></h2>
      <% if @book.reservations.blank? %>
      Be the first to leave a reservation for <%= @book.title %>
      <% else %>
      <% @book.reservations.each do |reservation| %>
       <li><%= render 'reservations/show', reservation: reservation %></li>
      <% end %>
      <% end %>
