<p id="notice"><%= notice %></p>

<% content_for(:title) do %>
  <%= @book.title %> is on Biblio
<% end %>
<% content_for(:resume) do %>
  <%= @book.resume %> is one the best book
<% end %>
<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h1> <%= @book.title %></h1>
      <p><%= @book.author %></p>
      <div class="media-section">
        <p><%= @book.resume %></p>
        <p><%= @book.available %></p>
        <%= link_to 'Back', books_path %> |

      </div>
    </div>
  </div>
</div>
<div class="media-aside">
  <div class="media-section text-center">

    <% if @book.reservations.blank? %>
      Be the first to leave a reservation for <%= @book.title %>
      <% else %>
        <% @book.reservations.each do |reservation| %>
          <li><%= render 'reservations/show', reservation: reservation %></li>
        <% end %>
    <% end %>
  </div>
</div>



