<p id="notice"><%= notice %></p>

<%= link_to 'Back', root_path %> |


<h1>Mes reservations</h1>

<div class="container">
  <div class="raw">
    <% @reservations.each do |reservation| %>
      <div class="col-xs-12 col-sm-6">
        <h2><%= link_to reservation.book.title%></h2>
        <ul><%= reservation.book.author %></ul>
        <ul><%= reservation.book.resume %></ul>
      </div>
    <% end %>
  </div>
</div>
