<p id="notice"><%= notice %></p>

<h1>Reservations</h1>


    <% @reservations.each do |reservation| %>
      <%= reservation.user.first_name %>
      <%= reservation.book.title %>
      <%= link_to 'Show', reservation %>
      <%= link_to 'Edit', edit_reservation_path(reservation) %><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
